/* ==== Basic CSS Reset ==== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ==== End CSS Reset ==== */

/* ! Variables */

:root {
  --color-frontWall: #f4e6bc;
  --color-sideWalls: #b08b1e;
  --color-floor: #f9f2dc;
  --color-icon-inactive: rgb(92, 92, 92);
  --color-icon-hover: rgb(0, 0, 0);
}

/* ! Variables */

/* GLOBALS */

.huge {
  font-size: 40px;
}

.closeZoomButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  border: none;
  color: var(--color-icon);
  z-index: 10;
}
.closeZoomButton:hover {
  color: red;
}
.doorBackground {
  width: 138.36726px;
  height: 222.61232px;
  background: black;
  pointer-events: none;
  z-index: -1;
}

.doorOpen {
  transform: rotateY(35deg);
  transform-origin: left;
  transition-duration: 0.3s;
}

.lamp-inspected {
  filter: drop-shadow(10px 10px 70px yellow) drop-shadow(20px 20px 70px yellow)
    drop-shadow(-10px -10px 70px yellow) drop-shadow(-20px -20px 70px yellow);
}

.modal-blur {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 45, 45, 0.753);
  /* background-color: orange; */
  z-index: 2;
}

.gameOverScene {
  width: 900px;
  height: 600px;
  background: rgb(121, 121, 121);
  opacity: 0.6;
  color: white;
  padding: 3em;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-property: all;
  transition-duration: 3s;
  z-index: 100;
}

.gameOverScene.fadingOut {
  transition-property: all;
  transition-duration: 3s;
  background: black;
  opacity: 1;
}

.startOverButton {
  border-radius: 10px;
  background: red;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

/* ? Maybe do this since I've been resizing to canvas thus far for svgs; So When i translate or animate they do not cut off...display */

/* svg {
  overflow: visible;
} */

/* @#===============  CONTAINERS   =============   */

#gameContainer {
  margin-top: 10px;
  margin-left: 10px;
  width: 900px;
  max-width: 900px;
  height: 600px;
  display: grid;
  grid-template-columns: 900px 250px;
  grid-template-rows: 350px 200px 50px;
  grid-template-areas:
    'game inv'
    'game messages'
    'game timer';
}

#navBtnsContainer,
#RoomContainer {
  width: 100%;
  max-width: 900px;
  height: 100%;
  position: relative;
  grid-area: game;
}

#RoomContainer.flashLightOn {
  cursor: url(/Media/imgs/BigGradientCursor.png) 70 50, auto;
  pointer-events: all;
}

#navBtnsContainer .icon {
  position: absolute;
}

/* turning lights off */

/* ! Room Icons */

.icon {
  position: absolute;
  pointer-events: all;
  z-index: 3;
}
.icon path {
  pointer-events: none;
}

.icon-LeftArrow,
.icon-RightArrow,
.icon-arrow-up,
.icon-arrow-down {
  width: 25px;
  height: 25px;
  pointer-events: all;

  fill: var(--color-icon-inactive);
}
.icon-LeftArrow:hover,
.icon-RightArrow:hover,
.icon-arrow-up:hover,
.icon-arrow-down:hover {
  fill: var(--color-icon-hover);
  width: 30px;
  height: 30px;
  z-index: 100;
}

.icon-LeftArrow {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.icon-RightArrow {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.icon-arrow-up {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-arrow-down {
  display: none;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.icon-arrow-down.displayed {
  display: block;
}

/* @# ===============  ROOM RULES   =============   */

.room.lightsOff {
  --color-frontWall: #02105c;
  --color-sideWalls: #4c369e;
  --color-floor: #041431;
  --color-icon-inactive: rgb(218, 214, 214);
  --color-icon-hover: rgb(255, 255, 255);
}

/*! EVERYTHING IN ROOM IS ABSOLUTELY POSITIONED FOR PRECISON */
.room > * {
  position: absolute;
}

.frontWall,
.rightWall,
.leftWall,
.floor {
  border: solid 1px black;
}

.room .frontWall {
  width: 900px;
  height: 500px;
  top: 0;
  left: 0;
  background: var(--color-frontWall);
  z-index: -1;
}

.room .leftWall,
.room .rightWall {
  height: 100%;
  background: var(--color-sideWalls);
  z-index: -1;
}

.room .leftWall {
  /* clip-path: polygon(0 0, 22% 0, 22% 61%, 0 100%); */
  top: 0;
  left: 0;
  width: 136px;
}

.room .rightWall {
  /* clip-path: polygon(78% 0, 100% 0, 78% 61%, 100% 100%); */
  top: 0;
  right: 0;
  width: 134px;
}

.room .floor {
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
  width: 900px;
  height: 185px;
  bottom: 0;
  left: 0;
  background: var(--color-floor);
}

.room .ceiling-side {
  background: var(--color-sideWalls);
  border: solid 1px black;
}

.room .leftCeiling,
.room .rightCeiling {
  height: 100%;
  width: 60px;
}

.leftCeiling {
  left: 0;
  top: 0;
}

.rightCeiling {
  right: 0;
  top: 0;
}

.room .topCeiling,
.room .bottomCeiling {
  width: 100%;
  height: 40px;
  background: var(--color-floor);
}
.bottomCeiling {
  bottom: 0;
  clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 0% 100%);
}

.topCeiling {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 93% 100%, 7% 100%);
}

.centerCeiling {
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--color-frontWall);
}

/* @#===============  StartingScene   =============   */
.startingScene {
  border: solid black 1px;
  width: 900px;
  height: 600px;
  background: black;
  color: white;
  padding: 3em;
  font-size: 28px;
}
.startingSceneNextButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: blue;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}

/* @#===============  INVENTORY   =============   */
.inventory {
  grid-area: inv;
  background: rgb(70, 70, 70);
}
.inventoryItemsContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.inventoryTitle {
  text-align: center;
  display: block;
  font-size: 22px;
  color: white;
  border-bottom: solid white 2px;
  margin-bottom: 1px;
}

.inventoryItemUsed {
  filter: brightness(0.3);
  pointer-events: none;
}

/* leave strange phantom space between flex-rows */

.inventoryItemsContainer > * {
  width: 82px;
  height: 82px;
  object-fit: contain;
  display: block;
  padding: 0;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  background: rgb(129, 129, 129);
  color: white;
  z-index: 2;
  border: solid 1px rgb(70, 69, 69);
}

.inventoryGlow {
  box-shadow: 1px 1px 3px 5px rgba(238, 255, 0, 0.164),
    -1px -1px 3px 5px rgba(238, 255, 0, 0.175);
  z-index: 2;
}

/* @# ===============  messages section   =============   */

.messagesArea {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgb(16, 1, 83);
  color: white;
}

.messagesHeader {
  font-size: 22px;
  margin-bottom: 10px;
  align-self: stretch;
  border-bottom: white solid 2px;
}

.messageContainer {
  width: 100%;
  overflow-y: scroll;
  text-align: left;
  padding: 5px;
  font-family: 'Gentium Plus', sans-serif;
}

.messageContent {
  text-align: left;
}
.messageEntry {
  border-bottom: solid 1px rgb(216, 214, 214);
  padding: 4px 0;
}

/* @#===============  TIMER   =============   */
.timerContainer {
  grid-area: timer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 73, 0);
  color: white;
  font-family: 'Gentium Plus', sans-serif;
}
.timerDisplay {
  font-size: 32px;
  margin: 0 5px;
}

/* @#===============  GAME COMPONENTS   =============   */

/* dropping svg's instead of images straight into html from JS?  Template Literal in a file;  Add Id's to moving parts;   */

/* E.g. blanket opening to show an item;  (have to make sure that the item underneath receives a click though and doesn't bubble;  I've had weirdness with clicking svgs before; But that was with use, so I think I'd be ok;  Could likely pad the absolutely posiontioned key; */

.room1Door {
  top: 32%;
  left: 50%;
  transform: translate(-50%);
}

#room1Key {
  display: none;
  top: 412px;
  left: 580px;
  transform: rotate(90deg);
}

.rotatedLock {
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.keypad {
  width: 50px;
  height: 50px;
  top: 180px;
  left: 150px;
}

#keypadZoomedContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border: solid 1px gray;
  padding: 30px;
  background: gray;
  z-index: 7;
}

#keypadZoomedContainer [data-fxn='close'] {
  position: absolute;
  top: 3px;
  right: 5px;
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

/* @@ ------------------------------- */
/* ------------- BEDROOM1 ---------- */
/* @% ---------------------------- */

.frontWallSVG {
  fill: var(--color-frontWall);
}
.floorSVG {
  fill: var(--color-floor);
}

.bedroom1_bedWhole {
  bottom: 90px;
  right: 120px;
}

.bedroom1_blanket {
  transition-duration: 0.2s;
}

.bedroom1_blanket.blanket-inspected {
  transform: translateX(7px);
  transition-duration: 0.2s;
}

.bedroom1_bedUnderView {
  pointer-events: all;
}

.bedroom1_bedUnderView {
  top: 0;
  left: 0;
}
.bedroom1_underBedKey {
  top: 100px;
  left: 700px;
  z-index: 0;
}
.bedPost {
  width: 90px;
  height: 490px;
  background: rgb(109, 51, 4);
}
.bedPostLeft {
  top: 20px;
  left: 120px;
}
.bedPostRight {
  top: 20px;
  left: 730px;
}

.bedroom1_lamp {
  top: 159px;
  left: 350px;
}

.bedroom1_nightStand {
  top: 267px;
  left: 350px;
}

.bedroom1_flashLight {
  top: 180px;
  left: 70px;
}
.bedroom1_nightStandContents {
  top: 180px;
  left: 100px;
}

.bedroom1_roomWindow {
  top: 85px;
  left: 143px;
}
.bedroom1_windowImage {
  top: 95px;
  left: 196px;
  width: 180px;
  height: 121px;
}
.bedroom1_windowCrossBar {
  top: 150px;
  left: 186px;
  width: 200px;
  height: 5px;
  background: rgb(187, 184, 184);
}
.bedroom1_windowVertBar {
  top: 85px;
  left: 280px;
  width: 5px;
  height: 141px;
  background: rgb(187, 184, 184);
}

.bedroom1_alexa {
  top: 221px;
  left: 380px;
}

.bedroom1_Closet {
  top: 131px;
  left: 170px;
}
.bedroom1_closetDoorRight {
  transition-duration: 0.7s;
}

.bedroom1_closetDoorRight-inspected {
  /* adjust next to last number 213 */
  transform: matrix(-1.2326684, 0, 0, 1.0782371, 228.16294, -4.6019451);
  transition-duration: 0.8s;
  transform-origin: left;
}

.bedroom1_closetDoorLeft-inspected {
  transform: matrix(1.0782371, 0, 0, 1.0782371, -15.411329, -4.847331);
  transition-duration: 0.8s;
  transform-origin: left;
}

.bedroom1_hamper {
  top: 296px;
  left: 530px;
}

.bedroom1_dresser {
  top: 211px;
  left: 530px;
}

#SwitchToggle {
  transition-duration: 0.15s;
}

/* ! applies to all lightswitches; */
.switched {
  transform-origin: center center;
  transform: rotateX(9deg);
  transition-duration: 0.15s;
}

.bedroom1_lightSwitch {
  top: 211px;
  left: 170px;
}

.bedroom1_television {
  width: 113px;
  height: 84px;
  top: 140px;
  left: 560px;
}

.bedroom1_ceilingFan {
  width: 600px;
  height: 400px;
  top: 100px;
  left: 150px;
  transform: translate(-50%, -50%);
  animation-name: rotateFan;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  pointer-events: none;
}

@keyframes rotateFan {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bedroom1_ceilingVent {
  top: 130px;
  left: 450px;
}

.bedroom1_door {
  top: 193px;
  left: 335px;
  transition-duration: 0.2s;
  transform-origin: left;
}

.doorOpen {
  transform: rotateY(35deg);
  transform-origin: left;
  transition-duration: 0.3s;
}

.bedroom1_doorBackground {
  width: 138.36726px;
  height: 222.61232px;
  background: black;
  top: 193px;
  left: 335px;
  pointer-events: none;
  z-index: -1;
}

/* .bedroom1_{

} */
/* .bedroom1_{

} */

/* @@ ------------------------------- */
/* ------------- LIVINGROOM ---------- */
/* @% ---------------------------- */

.livingRoom_coffeeTable {
  top: 448px;
  left: 300px;
}
.livingRoom_bookSpine {
  top: 488px;
  left: 360px;
}

.livingRoom_mediaStand {
  top: 300px;
  left: 300px;
}
.livingRoom_leftMediaDoor {
  top: 317px;
  left: 310px;
  transform: rotateY(0deg);
  transform-origin: left;
}

.livingRoom_rightMediaDoor {
  top: 314px;
  left: 501px;
  transform-origin: right;
}

.livingRoom_television {
  width: 214px;
  height: 132px;
  top: 178px;
  left: 337px;
}

.livingRoom_gameShelf {
  top: 170px;
  left: 130px;
}

.livingRoom_standingLamp {
  top: 100px;
  left: 640px;
}

.livingRoom_standingLamp-inspected {
  filter: drop-shadow(10px -80px 190px yellow)
    drop-shadow(20px -80px 90px yellow) drop-shadow(-10px -60px 190px yellow)
    drop-shadow(-20px -60px 90px yellow) drop-shadow(-40px -90px 180px yellow)
    drop-shadow(40px -60px 380px yellow) drop-shadow(-40px -90px 180px yellow);
}

/* ! Left living room */
.livingRoom_standingLamp2 {
  top: 120px;
  left: 110px;
}

.livingRoom_standingLamp2-inspected {
  filter: drop-shadow(10px -80px 190px yellow)
    drop-shadow(20px -80px 90px yellow) drop-shadow(-10px -60px 190px yellow)
    drop-shadow(-20px -60px 90px yellow) drop-shadow(-40px -90px 180px yellow)
    drop-shadow(40px -60px 380px yellow) drop-shadow(-40px -90px 180px yellow);
}

.livingRoom_thermostat {
  top: 200px;
  left: 570px;
}
.livingRoom_Switch-Inspected {
  transform: translateX(3px);
}

.livingRoom_bookShelf {
  top: 160px;
  left: 550px;
  opacity: 1;
  transform: none;
}
.livingRoom_bookShelf-inspected {
  transform: translateX(-195px);
  transition-duration: 0.4s;
}

/*! .livingRoom_bookShelf-inspectedBook {
  transition-duration: 1s;
  border: solid red 1px;
} */

.livingRoom_safeExterior {
  top: 210px;
  left: 590px;
  transform-origin: right;
}

.livingRoom_safeInterior {
  top: 205px;
  left: 578px;
  z-index: -1;
}
.livingRoom_safeKeyCard {
  top: 307px;
  left: 678px;
  transform: rotateX(65deg);
}

.livingRoom_couchBase {
  top: 220px;
  left: 300px;
}
.livingRoom_couchCushions {
  top: 305px;
  left: 330px;
}
.livingRoom_couchPillow {
  top: 270px;
  left: 320px;
}
.livingRoom_couchPillow2 {
  top: 270px;
  left: 490px;
  fill: rgb(167, 108, 0);
  transform: rotate(115deg);
}
.livingRoom_couchPillow-inspected {
  transform: translateY(-40px) rotate(115deg);
}

.livingRoom_couchCushionInspected {
  transform: translateY(15px);
}

.livingRoom_couchKey {
  top: 303px;
  left: 513px;
  transform: rotateX(61deg);
  z-index: 2;
}

.livingRoom_fanSwitch {
  top: 190px;
  left: 184px;
  height: 42px;
}

.livingRoom_ceilingFan {
  width: 600px;
  height: 400px;
  top: 100px;
  left: 160px;
  /* ! turn on if you want fan to spin */
  /* animation-name: rotateFan; */
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  pointer-events: none;
}

.livingRoom_ceilingVent {
  top: 130px;
  left: 450px;
}

.livingRoom_door,
.livingRoom_doorBackground {
  top: 193px;
  left: 415px;
  transition-duration: 0.2s;
  transform-origin: left;
}
.livingRoom_door2,
.livingRoom_doorBackground2 {
  top: 193px;
  left: 615px;
  transition-duration: 0.2s;
  transform-origin: left;
}
.livingRoom_door3,
.livingRoom_doorBackground3 {
  top: 193px;
  left: 210px;
  transition-duration: 0.2s;
  transform-origin: left;
}

.livingRoom_lightSwitch {
  top: 190px;
  left: 150px;
}

.livingRoom_safeKeypad {
  left: 730px;
  top: 170px;
}

/* @@===============  @# BOOK JOURNAL SPECIAL   =============   */

/* .secretmessage {
  transition-duration: 0.5s;
  width: fit-content;
  padding: 1em;
  opacity: 0;
  height: 100px;
  border: solid red 1px;
} */

/* .shown {
  transition-duration: 0.5s;
  opacity: 1;
} */

.book {
  position: initial;
  width: 600px;
  height: 400px;
  margin: 3em auto;
  /* border: solid blue 2px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'book';
  justify-items: right;
  z-index: 10;
}

.page {
  grid-area: book;
  /* justify-self: flex-end; */
  width: 50%;
  height: 100%;
  border: solid black 1px;
  transform-origin: left center;
  pointer-events: none;
  color: transparent;
  background: rgb(139, 138, 137);
  border-left: solid black 3px;
  padding: 1em;
  z-index: 3;
  font-size: 26px;
}
.journalCover {
  background: rgb(59, 36, 3);
}
.journalBack.flipped {
  background: rgb(59, 36, 3);
}

.unflipping {
  animation-name: unflip;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.flipped {
  transform-origin: left;
  pointer-events: all;
  animation-name: flip;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.page-active {
  color: black;
  pointer-events: all;
  z-index: 4;
}

@keyframes flip {
  0% {
    color: initial;
    transform: rotateY(0deg);
  }
  10% {
    color: transparent;
  }
  40% {
    transform: scale(1.03);
  }

  100% {
    transform: rotateY(180deg) scale(1);
  }
}

@keyframes unflip {
  0% {
    color: initial;
    transform: rotateY(180deg) scale(1);
  }
  10% {
    color: black;
    transform: rotateY(162deg) scale(1.03);
  }

  100% {
    transform: rotateY(0deg) scale(1);
  }
}

.hidden {
  color: black;
  font-size: 28px;
}
.messageShown {
  color: rgb(0, 255, 85);
}

/* .livingRoom_couch {
  top: 100px;
  left: 100px;
} */
/* .livingRoom_couch {
  top: 100px;
  left: 100px;
} */
/* .livingRoom_couch {
  top: 100px;
  left: 100px;
} */
/* .livingRoom_couch {
  top: 100px;
  left: 100px;
} */
/* .livingRoom_couch {
  top: 100px;
  left: 100px;
} */

/* @#===============  SAFEKEYPADRULES   =============   */

.livingRoom_safeKeypadZoom {
  padding: 2em;
  height: 400px;
  background: gray;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.closeSafeKeypadBtn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.safeKeypad-display {
  padding: 1em 0.5em;
  background: rgb(60, 61, 60);
  font-size: 32px;
  color: white;
}
.safeKeypad-display.error {
  background: red;
}
.safeKeypad-display.correct {
  background: green;
}

.safeKeypad-buttonsContainer {
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin: 20px auto;
}

.safeKeypad-button {
  width: 45px;
  height: 45px;
  margin: 5px 0;
  box-shadow: 1px 1px black;
  background: #aaa;
  padding: 0.5em;
  font-size: 22px;
}

.safeKeypad-button:active,
.submitEntry:active {
  transform: scale(0.9);
}
.safeKeypad-button:focus {
  outline: none;
}

.w100 {
  width: 100%;
}

.submitEntry {
  display: block;
  margin: 10px auto;
  padding: 1em 2em;
  background: green;
  color: white;
}

/* @@ ------------------------------- */
/* ------------- STUDY ---------- */
/* @% ---------------------------- */

.study_desk {
  top: 269px;
  left: 138px;
}
.study_officeChair {
  top: 253px;
  left: 261px;
}
.study_computer {
  top: 194px;
  left: 381px;
}
.study_mousePad {
  top: 277px;
  left: 388px;
}
.study_mouse {
  top: 285px;
  left: 409px;
}
.study_bottomMug {
  top: 250px;
  left: 150px;
}
.study_upperMug {
  top: 244px;
  left: 149px;
}

.study_trashCan {
  top: 350px;
  left: 185px;
}

.study_inkBottle {
  top: 244px;
  left: 239px;
}

.study_paperclip {
  top: 294px;
  left: 219px;
}

.study_pen {
  top: 233px;
  left: 156px;
}
.study_pencil {
  top: 233px;
  left: 169px;
}
.study_roomWindow {
  top: 50px;
  left: 490px;
}
.study_windowImage {
  top: 65px;
  left: 542px;
  width: 180px;
  height: 121px;
}

.study_windowCrossBar {
  top: 121px;
  left: 537px;
  width: 192px;
  height: 5px;
  background: rgb(187, 184, 184);
}
.study_windowVertBar {
  top: 55px;
  left: 632px;
  width: 5px;
  height: 141px;
  background: rgb(187, 184, 184);
}
.study_curtains {
  top: 15px;
  left: 490px;
}

.study_curtainLeft-inspected {
  transform: translateX(-25px);
}
.study_curtainRight-inspected {
  transform: translateX(25px);
}

.study_standingLamp {
  top: 15px;
  left: 490px;
}

.study_standingLamp-inspected {
  filter: drop-shadow(10px -80px 190px yellow)
    drop-shadow(20px -80px 90px yellow) drop-shadow(-10px -60px 190px yellow)
    drop-shadow(-20px -60px 90px yellow) drop-shadow(-40px -90px 180px yellow)
    drop-shadow(40px -60px 380px yellow) drop-shadow(-40px -90px 180px yellow);
}

.study_sideWindow {
  top: 80px;
  left: 5px;
}
.study_leftCurtain {
  top: 84px;
  left: 20px;
}
.study_rightCurtain {
  top: 84px;
  left: 65px;
}
.study_leftCurtain-inspected {
  transform: translateX(-22px);
}
.study_rightCurtain-inspected {
  transform: translateX(22px);
}
.bothCurtainsInspected {
  /* filter: drop-shadow(300px 5px 70px yellow) drop-shadow(100px 5px 70px yellow)
    drop-shadow(50px 5px 70px yellow) drop-shadow(10px 5px 70px yellow)
    drop-shadow(450px 5px 150px yellow); */
  filter: drop-shadow(510px 9px 40px yellow) drop-shadow(-10px 0px 60px yellow);
}

.studyWindowBackground {
  top: 90px;
  left: 40px;
}

.study_lightSwitch {
  top: 150px;
  left: 570px;
}

.study_dryEraseBoard {
  top: 100px;
  left: 550px;
}

.study_dryEraseBoardText {
  top: 150px;
  left: 555px;
  font-size: 8px;
  width: 165px;
}

.study_secretMessage {
  top: 199px;
  left: 564px;
  color: rgb(11, 199, 20);
  width: 165px;
  font-size: 13px;
}

.study_eraser {
  top: 108px;
  left: 680px;
}
.study_expoMarker {
  top: 86px;
  left: 580px;
  transform: rotate(-90deg);
}

.study_standingLamp {
  top: 106px;
  left: 160px;
}

.study_printerStation {
  top: 106px;
  left: 160px;
}
.study_lamp {
  top: 80px;
  left: 380px;
}

.study_door,
.study_doorBackground {
  top: 195px;
  left: 380px;
  transition-duration: 0.2s;
  transform-origin: left;
}
.study_ceilingVent {
  top: 130px;
  left: 450px;
}
.study_ceilingFan {
  width: 600px;
  height: 400px;
  top: 100px;
  left: 160px;
  pointer-events: none;
}

.rotatingFan {
  animation-name: rotateFan;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.study_fanSwitch {
  top: 240px;
  left: 300px;
}

.study_fanSwitch-inspected,
.livingRoom_fanSwitch-inspected {
  transform: translateY(-1px);
}

.study_studyKey {
  top: 200px;
  left: 500px;
  z-index: 1;
}

/* @@ ------------------------------- */
/* ------------- KITCHEN ---------- */
/* @% ---------------------------- */

.kitchen_oven {
  top: 240px;
  left: 360px;
}
.kitchen_ovenDoor {
  top: 320px;
  left: 375px;
}
.kitchen_ovenDoor-inspected {
  transform: rotateX(180deg);
  transform-origin: bottom;
  transition-duration: 0.3s;
}
.kitchen_kettle {
  top: 255px;
  left: 462px;
}

.kitchen_cabinetDoor1 {
  top: 18px;
  left: 171px;
  transform-origin: left;
  z-index: 1;
}
.kitchen_kitchenUpperCabinet {
  top: 0px;
  left: 132px;
}
.kitchen_upperCabinetDoor1 {
  top: 18px;
  left: 171px;
  transform-origin: left;
  z-index: 1;
}
.kitchen_upperCabinetDoor2 {
  top: 18px;
  left: 334px;
  transform-origin: left;
  z-index: 1;
}
.kitchen_upperCabinetDoor3 {
  top: 18px;
  left: 497px;
  transform-origin: left;
  z-index: 1;
}
.kitchen_upperCabinetDoor4 {
  top: 18px;
  left: 658px;
  transform-origin: left;
  z-index: 1;
}
.kitchen_cabinetDoor-inspected {
  transform: rotateY(140deg);
  transform-origin: left;
  transition-duration: 0.3s;
}
.kitchen_lowerCabinetDoor-inspected {
  transform: rotateY(120deg);
  transform-origin: left;
  transition-duration: 0.3s;
}
.kitchen_kitchenCabinet {
  top: 225px;
  left: 137px;
}
.kitchen_kitchenCabinet2 {
  top: 223px;
  left: 545px;
}
.kitchen_cabinetDoor1 {
  top: 294px;
  left: 143px;
}
.kitchen_cabinetDoor2 {
  top: 294px;
  left: 213px;
}
.kitchen_cabinetDoor3 {
  top: 294px;
  left: 283px;
}
.kitchen_cabinetDoor4 {
  top: 294px;
  left: 550px;
}
.kitchen_cabinetDoor5 {
  top: 294px;
  left: 625px;
}
.kitchen_cabinetDoor6 {
  top: 294px;
  left: 695px;
}
.kitchen_oliveOilBottle {
  top: 161px;
  left: 547px;
}
.kitchen_kitchenTowel {
  top: 318px;
  left: 401px;
}
.kitchen_table {
  top: 323px;
  left: 144px;
}

.kitchen_fruitBowl {
  top: 273px;
  left: 194px;
}

.kitchen_kitchenChair1 {
  top: 306px;
  left: 112px;
}
.kitchen_pepperShaker {
  top: 301px;
  left: 312px;
}
.kitchen_saltShaker {
  top: 301px;
  left: 332px;
}

.kitchen_kitchenChair2 {
  top: 306px;
  left: 326px;
  transform: rotateY(180deg);
}
.kitchen_coffeeStand {
  top: 310px;
  left: 590px;
}
.kitchen_coffeeMaker {
  top: 254px;
  left: 690px;
}
.kitchen_blender {
  top: 229px;
  left: 600px;
}
.kitchen_kitchenCabinetry2 {
  top: 225px;
  left: 357px;
}

.kitchen_cabinetDoor4Set2 {
  top: 294px;
  left: 367px;
}
.kitchen_cabinetDoor5Set2 {
  top: 294px;
  left: 437px;
}
.kitchen_cabinetDoor6Set2 {
  top: 294px;
  left: 505px;
}
.kitchen_dishwasher {
  top: 240px;
  left: 576px;
}
.kitchen_dishwasherDoor {
  top: 265px;
  left: 592px;
}
/* todo add x rotation for door */

.kitchen_toaster {
  top: 187px;
  left: 191px;
}

.kitchen_receptacle1 {
  height: 30px;
  top: 54px;
  left: 540px;
}
.behindReceptacle1Message {
  font-family: 'Herculanum';
  font-size: 5px;
  top: 68px;
  left: 541px;
  transform: rotate(90deg);
  color: rgb(102, 61, 23);
}
.receptacleHole {
  top: 55px;
  left: 549px;
  background: rgb(22, 22, 22);
  padding: 10px 8px;
  border-radius: 5px;
  border: solid rgb(172, 170, 170) 4px;
}

.kitchen-receptacle-inspected {
  transform: rotateY(95deg);
  transform-origin: left;
  transition-duration: 0.3s;
}

.kitchen_knifeBlock {
  top: 197px;
  left: 504px;
}
.kitchen_fridge {
  top: 163px;
  left: 340px;
}
.kitchen_fridgeDoor {
  top: 236px;
  left: 340px;
}
.kitchen_freezerDoor {
  top: 163px;
  left: 340px;
}
.kitchen_trashCan {
  top: 300px;
  left: 148px;
}

.kitchen_breakerInside {
  top: 100px;
  left: 678px;
}
.kitchen_breakerDoor {
  top: 105px;
  left: 679px;
}
.kitchen_trippedBreaker-inspected {
  transform: translate(0px, -0.00779952px);
}
.kitchen_breakerDoor-inspected {
  transform: rotateY(180deg);
  transform-origin: left;
}

.kitchen_lightSwitch {
  top: 210px;
  left: 158px;
}
.kitchen_door {
  top: 194px;
  left: 558px;
  transition-duration: 0.2s;
  transform-origin: left;
}

.kitchen_doorBackground {
  top: 194px;
  left: 558px;
}
.kitchen_door2,
.kitchen_doorBackground2 {
  top: 194px;
  left: 428px;
  transition-duration: 0.2s;
  transform-origin: left;
}

.kitchen_ceilingVent {
  top: 150px;
  left: 150px;
}

.kitchen_keypad {
  top: 200px;
  left: 710px;
}

.kitchen_keypadZoomed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border: solid 1px gray;
  padding: 30px;
  background: gray;
  z-index: 7;
}

.kitchen.keypad-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.keypad-buttons {
  /* width: 90%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
}

.kitchen_display {
  height: 60px;
  background: rgb(73, 85, 73);
  color: white;
  text-align: right;
  letter-spacing: 4px;
  line-height: 65px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}
.kitchen_displayActivated {
  background: rgb(24, 42, 204);
}
.kitchen_display.correct {
  background: green;
}

.keypadButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 26px;
}

.card-slot {
  width: 35px;
  height: 300px;
  background: #555555;
  border-radius: 5px;
  margin-top: 20px;
  border: inset rgb(68, 67, 67) 10px;
}
.kitchen_cardSlotFilled {
  width: 9px;
  height: 273px;
  position: absolute;
  top: 145px;
  left: 345px;
  background: blue;
  border-radius: 10px;
}

.keypadLetters {
  display: block;
}

.kitchen_keypadZoomed [data-fxn='close'] {
  position: absolute;
  top: 3px;
  right: 5px;
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
.kitchen_keypadZoomed [data-fxn='close']:hover {
  color: red;
}

/* ! ===============  GLOBALS BOTTOM OF CASCADE   =============   */

.dNone {
  display: none !important;
}
.dVisible {
  display: initial !important;
}
.y180 {
  transform: rotateY(180deg);
}
.y135 {
  transform: rotateY(135deg);
}

.x180 {
  transform: rotateX(180deg);
}

.x135 {
  transform: rotateX(135deg);
}
.r90 {
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.u2 {
  transform: translateY(-2px);
}

.u5 {
  transform: translateY(-5px);
  transition-duration: 0.3s;
}
.u10 {
  transform: translateY(-10px);
  transition-duration: 0.3s;
}
.d2 {
  transform: translateY(2px);
}

.d5 {
  transform: translateY(5px);
  transition-duration: 0.3s;
}
.d10 {
  transform: translateY(10px);
  transition-duration: 0.3s;
}
.d20 {
  transform: translateY(20px);
  transition-duration: 0.3s;
}
.l2 {
  transform: translateX(-2px);
}

.l5 {
  transform: translateX(-5px);
  transition-duration: 0.3s;
}
.l10 {
  transform: translateX(-10px);
  transition-duration: 0.3s;
}

.r2 {
  transform: translateX(2px);
}
.r5 {
  transform: translateX(5px);
  transition-duration: 0.3s;
}
.r10 {
  transform: translateX(10px);
  transition-duration: 0.3s;
}
.r20 {
  transform: translateX(20px);
  transition-duration: 0.3s;
}

/*  Causes weird animations due to forced re-rendering
@keyframes y180 {
  0% {
    transform: initial;
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes x180 {
  0% {
    transform: initial;
  }
  100% {
    transform: rotateX(180deg);
  }
} */
